<%= content_tag( "div", class: "container" ) do %>
	<%= content_tag( "div", class: "mg10 pd30" ) do %>
		<%= form_tag('/invite-referral', method: :post, remote: true, onsubmit: 'invite_referral()') do %>
			
			<%= content_tag( "div", class: "form-group" ) do %>
				<%#= label_tag "Refer your friend", 'Refer your Friend', class: "col-sm-2 control-label", for: 'email' %>
				<h1 class="pcenter"> Refer your friend </h1> 

				<div class="c1 col-xs-12">
					    <div class="hd1" style="width: 100%; border-radius: 3px;">
						<i class='fa fa-bars'></i> Enter Email Id
					    </div>
				</div>

				<%= text_field_tag :email, '', autofocus: true, class: "form-control pull-right", autocomplete: "off", required: true, placeholder: 'Invite referral using email...' %>
				<%= label_tag " ", 'Enter multiple email saperated with comma(,) i.e., abc@gmail.com,xyz@yahoo.com', style: "font-size: 12px; width: 70%; float: left;" %>
					
			
				

				<div class="c1 col-xs-12">
					    <div class="hd1" style="width: 100%; border-radius: 3px;">
						<i class='fa fa-bars'></i> Refer To The Children
					    </div>
				</div>
				<div class="  col-md-6">
				<%= select_tag "child", options_from_collection_for_select(@childrens, "ref_id", "first_nm"), :class=>"form-control", :prompt=>"Select Child To Refer"%>

				</div>


				<%#= @children.each do |f|%>

				<%#=@childrens.inspect%>
				<%#end%>
				<%= submit_tag :invite, class: "btn btn-primary pull-right" %>
		    	<% end %>
		<% end %>

	<% end %>
	<% unless @referrals.blank? %>
		<%= content_tag( "div", class: 'pd30 referrals' ) do %>
			<%= content_tag( "div", id: 'grid' ) do %>
				<% @referrals.each do |refer| %>
					<%= render "/misc/profile_item", child: refer %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>

<% end %>
