<%= content_tag( "section", class: "container pd50") do %>
    <%= content_tag( "div", class: "login") do %>
      	<h1>Forgot your password?</h1>
		<%= render partial: '/shared/flash', collection: [:notice, :alert, :success, :error], as: :level %>
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		 	<%= devise_error_messages! %>
	        <p>
	        	<%= f.email_field :email, autofocus: true, class: "lgn", required: true, placeholder: "Email *" %>
	        </p>
	        <p class="submit"><%= f.submit "Send me reset password instructions!", id: 'submt', class: 'lgn' %></p>
      	<% end %>
	<% end -%>
<% end -%>
