<% if index == 0 %>
  <div class="c1 col-xs-12">
    <div class="hd1">
      <i class='fa fa-bars'></i> Mother/Guardian Detail
    </div>  
    <div class="content">
      <%= ff.hidden_field :id, value: @user.guardians[index].id %>

      <%= content_tag( "div", class: "form-group" ) do %>
        <%= ff.label "Name", class: 'col-sm-2 control-label', for: '' %>
        <%= content_tag( "div", class: "col-sm-5" ) do %>
          <% if current_user.gender == 'female' %>
            <%= ff.text_field :first_nm, value: current_user.first_nm, class: "form-control", autocomplete: "off", pattern: '[a-zA-Z]{3,20}', oninput: 'check_names(this)', placeholder: 'First Name' %>
          <% else %>
            <%= ff.text_field :first_nm, class: "form-control", autocomplete: "off", pattern: '[a-zA-Z]{3,20}', oninput: 'check_names(this)', placeholder: 'First Name' %>
          <% end %>
        <% end %>
      <% end %>

      <%= content_tag( "div", class: "form-group" ) do %>
        <%= content_tag( "div", class: "col-sm-5" ) do %>
          <% if current_user.gender == 'female' %>
            <%= ff.text_field :last_nm, value: current_user.last_nm, class: "form-control", autocomplete: "off", pattern: '[a-zA-Z]{3,20}', oninput: 'check_names(this)', placeholder: 'Last Name' %>
          <% else %>
            <%= ff.text_field :last_nm, class: "form-control", autocomplete: "off", pattern: '[a-zA-Z]{3,20}', oninput: 'check_names(this)', placeholder: 'Last Name' %>
          <% end %>
        <% end %>
      <% end %>

      <%= content_tag( "div", class: "form-group" ) do %>
        <%= ff.label "Email", class: 'col-sm-2 control-label', for: 'user_email' %>
        <%= content_tag( "div", class: "col-sm-10" ) do %>
          <% if current_user.gender == 'female' %>
            <%= email_field_tag :email, "#{current_user.email}", autocomplete: "off", class: "form-control", placeholder: "Email", disabled: true %>
          <% else %>
            <%= email_field_tag :email, "", autocomplete: "off", class: "form-control", placeholder: "Email" %>
          <% end %>
        <% end %>
      <% end %>

      <%= content_tag( "div", class: "form-group" ) do %>
        <%= ff.label "DOB", class: 'col-sm-2 control-label pull-left', for: '' %>
        <%= content_tag( "div", class: "col-sm-10 pull-right" ) do %>
          <% if current_user.gender == 'female' %>
            <%= ff.text_field :dob, value: (current_user.dob.nil? ? '' : current_user.dob.strftime('%m/%d/%Y')), class: "datepicker form-control", placeholder: "MM/DD/YYYY", readonly: true %>
          <% else %>
            <%= ff.text_field :dob, class: "datepicker form-control", placeholder: "MM/DD/YYYY", readonly: true %>
          <% end %>
        <% end %>
      <% end %>

      <%= content_tag( "div", class: "form-group" ) do %>
        <%= ff.label "Address", class: 'col-sm-2 control-label', for: '' %>
        <%= content_tag( "div", class: "col-sm-10" ) do %>
          <%= ff.text_field :address, class: "form-control", placeholder: "Address" %>
        <% end %>
      <% end %>

      <%= content_tag( "div", class: "form-group" ) do %>
        <%= ff.label "Phone", class: 'col-sm-2 control-label', for: '' %>
        <%= content_tag( "div", class: "col-sm-10" ) do %>
          <% if current_user.gender == 'female' %>
            <%= ff.text_field :phone, value: current_user.phone, class: "txtOnlyNumber form-control", placeholder: "Phone" %>
          <% else %>
            <%= ff.text_field :phone, class: "txtOnlyNumber form-control", placeholder: "Phone" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="c1 col-xs-12">
    <div class="hd1">
      <i class='fa fa-bars'></i> Father/Guardian Detail
    </div>
    <div class="content">
      <%= ff.hidden_field :id, value: @user.guardians[index].id %>

      <%= content_tag( "div", class: "form-group" ) do %>
        <%= ff.label "Name", class: 'col-sm-2 control-label', for: '' %>
        <%= content_tag( "div", class: "col-sm-5" ) do %>
          <% if current_user.gender == 'male' %>
            <%= ff.text_field :first_nm, value: current_user.first_nm, class: "form-control", autocomplete: "off", oninput: 'check_names(this)', placeholder: 'First Name' %>
          <% else %>
            <%= ff.text_field :first_nm, class: "form-control", autocomplete: "off", oninput: 'check_names(this)', placeholder: 'First Name' %>
          <% end %>
        <% end %>
      <% end %>

      <%= content_tag( "div", class: "form-group" ) do %>
        <%= content_tag( "div", class: "col-sm-5" ) do %>
          <% if current_user.gender == 'male' %>
            <%= ff.text_field :last_nm, value: current_user.last_nm, class: "form-control", autocomplete: "off", pattern: '[a-zA-Z]{3,20}', oninput: 'check_names(this)', placeholder: 'Last Name' %>
          <% else %>
            <%= ff.text_field :last_nm, class: "form-control", autocomplete: "off", pattern: '[a-zA-Z]{3,20}', oninput: 'check_names(this)', placeholder: 'Last Name' %>
          <% end %>
        <% end %>
      <% end %>

      <%= content_tag( "div", class: "form-group" ) do %>
        <%= ff.label "Email", class: 'col-sm-2 control-label', for: 'user_email' %>
        <%= content_tag( "div", class: "col-sm-10" ) do %>
          <% if current_user.gender == 'male' %>
            <%= email_field_tag :email, "#{current_user.email}", autocomplete: "off", class: "form-control", placeholder: "Email", disabled: true %>
          <% else %>
            <%= email_field_tag :email, "", autocomplete: "off", class: "form-control", placeholder: "Email" %>
          <% end %>
        <% end %>
      <% end %>

      <%= content_tag( "div", class: "form-group" ) do %>
        <%= ff.label "DOB", class: 'col-sm-2 control-label', for: '' %>
        <%= content_tag( "div", class: "col-sm-10" ) do %>
          <% if current_user.gender == 'male' %>
            <%= ff.text_field :dob, value: (current_user.dob.nil? ? '' : current_user.dob.strftime('%m/%d/%Y')),class: "datepicker form-control", placeholder: "MM/DD/YYYY", readonly: true %>
          <% else %>
            <%= ff.text_field :dob, class: "datepicker form-control", placeholder: "MM/DD/YYYY", readonly: true %>
          <% end %>
        <% end %>
      <% end %>

      <%= content_tag( "div", class: "form-group" ) do %>
        <%= ff.label "Address", class: 'col-sm-2 control-label', for: 'user_appt_no' %>
        <%= content_tag( "div", class: "col-sm-3" ) do %>
          <% if current_user.gender == 'male' %>
            <%= ff.text_field :appt_no, value: current_user.appt_no, class: "form-control", placeholder: "Appt No" %>
          <% else %>
            <%= ff.text_field :appt_no, class: "form-control", placeholder: "Appt No" %>
          <% end %>
        <% end %>
      <% end %>

      <%= content_tag( "div", class: "form-group" ) do %>
        <%= content_tag( "div", class: "col-sm-4" ) do %>
          <% if current_user.gender == 'male' %>
            <%= ff.text_field :st_no, value: current_user.st_no, class: "form-control", placeholder: "Street No" %>
          <% else %>
            <%= ff.text_field :st_no, class: "form-control", placeholder: "Street No" %>
          <% end %>
        <% end %>
      <% end %>

      <%= content_tag( "div", class: "form-group" ) do %>
        <%= content_tag( "div", class: "col-sm-3" ) do %>
          <% if current_user.gender == 'male' %>
            <%= ff.text_field :city, value: current_user.city, class: "form-control", placeholder: "City" %>
          <% else %>
            <%= ff.text_field :city, class: "form-control", placeholder: "City" %>
          <% end %>        
        <% end %>
      <% end %>

      <%= content_tag( "div", class: "form-group" ) do %>
        <%= ff.label "Phone", class: 'col-sm-2 control-label', for: '' %>
        <%= content_tag( "div", class: "col-sm-10" ) do %>
          <% if current_user.gender == 'male' %>
            <%= ff.text_field :phone, value: current_user.phone, class: "txtOnlyNumber form-control", placeholder: "Phone" %>
          <% else %>
            <%= ff.text_field :phone, class: "txtOnlyNumber form-control", placeholder: "Phone" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
