  <%= render partial: '/shared/flash_messages', collection: [:notice, :alert, :success, :error], as: :level %>
  
  <h1 class="pcenter"> <%= title %> </h1> 

      <span class='flash_messages'></span>

      <%= form_for @user, :url => save_profile_path, html: { onsubmit: "if($('.edit_user').valid() && ssn_unmasking()){show_loader('.flash_messages', '.loader')}" }, method: :post do |f| %>
        
        <!-- <input name="authenticity_token" type="hidden" value="<%#= form_authenticity_token %>"> -->

    <div class="c1 col-xs-12">
	    <div class="hd1">
		    <i class='fa fa-bars'></i> Personal Information
		</div>
		<div class="content">
            <%= f.hidden_field :id, value: @user.id %>
            <%= content_tag( "div", class: "form-group" ) do %>
              <%= f.label "Full Name *", class: "col-sm-2 control-label", for: 'user_first_nm' %>
                <%= content_tag( "div", class: "col-sm-5" ) do %>
                <%= f.text_field :first_nm, autofocus: true, class: "txtOnlyAlpha form-control", autocomplete: "off", oninput: 'check_names(this)', placeholder: 'First Name *', required: true %>
              <% end %>
            <% end %>

            <%= content_tag( "div", class: "form-group" ) do %>
                <%= content_tag( "div", class: "col-sm-5" ) do %>
                    <%= f.text_field :last_nm, class: "txtOnlyAlpha form-control", autocomplete: "off", oninput: 'check_names(this)', placeholder: 'Last Name *', required: true %>
                <% end %>
            <% end %>

            <% if register_as_child? %>
    
              <%= content_tag( "div", class: "form-group" ) do %>
                <%= f.label "DOB", class: 'col-sm-2 control-label', for: 'user_dob' %>
                <%= content_tag( "div", class: "col-sm-5" ) do %>        
                      <%= f.text_field :dob, value: (@user.dob.nil? ? '' : @user.dob.strftime('%m/%d/%Y')), class: "datepicker form-control", placeholder: "MM/DD/YYYY", onchange: 'age_calculate()', readonly: true %>
                <% end %>
              <% end %>

              <%= content_tag( "div", class: "form-group" ) do %>
                <%= content_tag( "div", class: "col-sm-5" ) do %>
                  <%= f.text_field :role, class: "form-control", placeholder: "Role", disabled: true %>
                <% end %>
              <% end %>

              <%= content_tag( "div", class: "form-group user_role", style: 'display:none;' ) do %>
                <%= f.label " ", class: 'col-sm-2 control-label', for: 'user_email' %>
                <%= content_tag( "div", class: "col-sm-10" ) do %>
                  <%= f.label "Student has to utilize the amount within 7 years, else the amount would be moved to Non-Profit Organization account", class: "form-control info" %>
                <% end %>
              <% end %>

            <% else %>

                <%= content_tag( "div", class: "form-group" ) do %>
                    <%= f.label "DOB *", class: 'col-sm-2 control-label', for: 'user_dob' %>
                    <%= content_tag( "div", class: "col-sm-10" ) do %>
                        <%= f.text_field :dob, value: (@user.dob.nil? ? '' : @user.dob.strftime('%m/%d/%Y')), class: "datepicker form-control", placeholder: "MM/DD/YYYY", readonly: true %>
                    <% end %>
                <% end %>

                <%= content_tag( "div", class: "form-group" ) do %>
                    <%= f.label "Email", class: 'col-sm-2 control-label', for: 'user_email' %>
                    <%= content_tag( "div", class: "col-sm-10" ) do %>
                        <%= f.email_field :email, autocomplete: "off", class: "form-control", placeholder: "Email", disabled: true %>
                    <% end %>
                <% end %>
      
            <% end %>

            <%= content_tag( "div", class: "form-group" ) do %>
                <%= f.label "Gender", class: 'col-sm-2 control-label', for: 'user_gender' %>
                <%= content_tag( "div", class: "col-sm-10 radio fnt18", style: "margin-top: 5px;" ) do %>
                  <input type="radio" name="user[gender]" id="gender_male" class="user_gender css-radio" value="male" <%= "checked" if @user[:gender]=="male" %>>
                  <label class="col-sm-2 css-label-radio" for="gender_male">Male</label>
                  <input type="radio" name="user[gender]" id="gender_female" class="user_gender css-radio" value="female" <%= "checked" if @user[:gender]=="female" %>>
                  <label class="col-sm-2 css-label-radio" for="gender_female">Female</label>
                <% end %>
            <% end %>
        </div>
    </div>
        <% if register_as_child? %>
          <%= content_tag( "div", class: "form-group" ) do %>
            <%= f.label "Phone", class: 'col-sm-2 control-label', for: 'user_phone' %>
            <%= content_tag( "div", class: "col-sm-5" ) do %>
              <%= f.text_field :phone, autocomplete: "off", class: "txtOnlyNumber form-control", placeholder: "Home Phone" %>
            <% end %>
          <% end %>

      <%= content_tag( "div", class: "form-group" ) do %>
        <%= content_tag( "div", class: "col-sm-5" ) do %>
          <%= f.text_field :mobile, autocomplete: "off", class: "txtOnlyNumber form-control", placeholder: "Mobile *" %>
        <% end %>
      <% end %>

      <%= content_tag( "div", class: "form-group" ) do %>
        <%= f.label "Profile Picture *", class: 'col-sm-2 control-label', for: 'user_profile' %>
        <%= content_tag( "div", class: "col-sm-5" ) do %>
          <div class="browse col-sm-8" onclick="image_via_file(this);"> <i class='fa fa-image'></i> &nbsp &nbsp Browse</div>
          <img src="<%= @user.avatar.url %>" id="img-preview" class="pull-right" width="50px" height="50px">
          <%= f.file_field :avatar, class: "choose-file form-control", pattern: ".jpg, .png" %>
        <% end %>
      <% end %>

      <%= content_tag( "div", class: "form-group" ) do %>
        <%= content_tag( "div", class: "col-sm-5" ) do %>
          <%= f.hidden_field :ssn, value: @user.ssn %>
          <input class="form-control txtOnlyNumber valid" id="ssn" placeholder="SSN - Social Security No" data-value='<%= @user.ssn %>' type="text" aria-invalid="false">
        <% end %>
      <% end %>

      <%= f.fields_for :guardians do |ff| %>
        <%= render '/shared/update_profile_guardians', ff: ff, index: @user.guardians.index(ff.object) if @user.guardians.index(ff.object) <= 1 %>
      <% end %>
    <% end %>

    <% unless register_as_child? %>
    <div class="c1 col-xs-12">
	    <div class="hd1">
		    <i class='fa fa-bars'></i> Contact
		</div>
		<div class="content">
         
      
            <%= content_tag( "div", class: "form-group" ) do %>
                <%= f.label "Home Address", class: 'col-sm-2 control-label', for: 'user_appt_no' %>
                <%= content_tag( "div", class: "col-sm-3" ) do %>
                  <%= f.text_field :appt_no, class: "form-control", placeholder: "Appt No" %>
                <% end %>
            <% end %>

            <%= content_tag( "div", class: "form-group" ) do %>
                <%= content_tag( "div", class: "col-sm-4" ) do %>
                    <%= f.text_field :st_no, class: "form-control", placeholder: "Street No" %>
                <% end %>
            <% end %>

            <%= content_tag( "div", class: "form-group" ) do %>
                <%= content_tag( "div", class: "col-sm-3" ) do %>
                    <%= f.text_field :city, class: "form-control", placeholder: "City" %>
                <% end %>
            <% end %>

            <%= content_tag( "div", class: "form-group" ) do %>
                <%= f.label "Phone", class: 'col-sm-2 control-label', for: 'user_phone' %>
                <%= content_tag( "div", class: "col-sm-5" ) do %>
                    <%= f.text_field :phone, autocomplete: "off", class: "txtOnlyNumber form-control", placeholder: "Home Phone" %>
                <% end %>
            <% end %>

            <%= content_tag( "div", class: "form-group" ) do %>
                <%= content_tag( "div", class: "col-sm-5" ) do %>
                    <%= f.text_field :mobile, autocomplete: "off", class: "txtOnlyNumber form-control", placeholder: "Mobile *" %>
                <% end %>
            <% end %>

            <%= content_tag( "div", class: "form-group" ) do %>
                <%= f.label "Profile Picture", class: 'col-sm-2 control-label', for: 'user_profile' %>
                <%= content_tag( "div", class: "col-sm-5" ) do %>
                  <div class="browse col-sm-8" onclick="image_via_file(this);"> <i class='fa fa-image'></i> &nbsp &nbsp Browse</div>
                  <img src="<%= @user.avatar.url %>" id="img-preview" class="pull-right" width="50px" height="50px">
                  <%= f.file_field :avatar, class: "choose-file form-control", pattern: ".jpg, .png" %>
                <% end %>
            <% end %>

            <%= content_tag( "div", class: "form-group" ) do %>
                <%= content_tag( "div", class: "col-sm-5" ) do %>
                    <%= f.hidden_field :ssn, value: @user.ssn %>
                    <input class="form-control txtOnlyNumber valid" id="ssn" placeholder="SSN - Social Security No" data-value='<%= @user.ssn %>' type="text" aria-invalid="false">
                <% end %>
            <% end %>
        <% end %>

        <% if become_member_associate? %>
          <%= content_tag( "div", class: "form-group" ) do %>
            <%= "&nbsp".html_safe %>
          <% end %>
          <%= content_tag( "div", class: "form-group" ) do %>
              <%= f.label "Select type", class: 'col-sm-2 control-label', for: 'user_role' %>
              <%= content_tag( "div", class: "col-sm-10 radio fnt18", style: "margin-top: 5px;" ) do %>
                <input type="radio" name="user[role]" id="role_member" class="user_role css-radio" value="member" <%= "checked" if @user[:role]=="member" %>>
                <label class="col-sm-2 css-label-radio" for="role_member">Member</label>
                <input type="radio" name="user[role]" id="role_associate" class="user_role css-radio" value="associate" <%= "checked" if @user[:role]=="associate" %>>
                <label class="col-sm-2 css-label-radio" for="role_associate">Associate</label>
              <% end %>
          <% end %>
        <% end %>
        </div>
    </div>
        <%= content_tag( "div", class: "form-group" ) do %>
            <%= link_to "<i class='fa fa-save'></i> Update".html_safe, "javascript:$('.edit_user').submit()", class: 'col-sm-5 btn btn-primary pull-left' %>
            <div class="loader col-sm-2" style="display:none;"><img src="/assets/ajax-loader.gif"> Please wait..</div>
            <%= link_to "Skip >>", '/pledge-now', class: 'col-sm-5 btn btn-primary pull-right' unless become_member_associate? %>
        <% end %>

      <% end %>

<script>
  $(document).ready(function(){age_calculate});
</script>
