<h4><p style="font-size:16px;line-height:1.7;color:#808b92;font-weight:300;font-family:lato,open sans,helvetica;margin:0;padding:0px 20px 20px;padding:10px;">Dear <%= @user.first_nm %>:</p></h4>
<br>
<p style="font-size:16px;line-height:1.7;color:#808b92;font-weight:300;font-family:lato,open sans,helvetica;margin:0;padding:0px 20px 20px;">Payment has been contributed successfully!. <br> 

<b>Name: </b> <%= User.find(@contrib_session["child"]).full_name %><br>
<b>Email: </b> <%= @contrib_session["email"] %><br>
<b>RefID: </b> <%= @contrib_session["ref_id"] %><br>
<b>SSN: </b> <%= @contrib_session["ssn"] %><br>
<b>Freq: </b> <%= @contrib_session["freq"] %><br>
<b>Contributed Amount: </b> <%= @contrib_session["total_contributions"] %><br>

<br>You can get more information/future activities at Mulch by visiting our website www.mulch.com or by visiting our facebook page - https://www.facebook.com/mulch.

<br><br>
Have a great time <br>
Mulch Team <br>
</p>