<%= form_for(Post) do |f| %>
  <% if @posts.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@posts.errors.count, "error") %> prohibited this posts from being saved:</h2>

      <ul>
      <% @posts.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :about_mulch %><br>
  about mulch:  <%= f.text_area :about_mulch %>
  </div>
  <div class="field">
    <%= f.label :why_mulch %><br>
    <%= f.text_area :why_mulch, class: 'ckeditor' %>
  </div>
  <div class="field">
    <%= f.label :How_it_works %><br>
    <%= f.text_area :How_it_works, class: 'ckeditor' %>
  </div>
<div class="field">
    <%= f.label :terms_and_conditions %><br>
    <%= f.text_area :terms_and_conditions, class: 'ckeditor' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
