<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @posts.title %>
</p>

<p>
  
 
  <%= @posts.about_mulch %>
        <%= @posts.why_mulch %>
                <%= @posts.How_it_works %>
                        <%= @posts.terms_and_conditions %>
</p>

<%= link_to 'Edit', edit_post_path(@posts) %> |
<%= link_to 'Back', posts_path %>
