<div class="box" data-ref-id="<%= child[:ref_id] %>">
	<div data-thumbnail="<%= child[:profile] %>"></div>
    
    <div data-image="<%= child[:profile] %>"></div>
    
    <div class="thumbnail-caption">
        <h3><%= "#{child[:first_nm].try(:titlecase)} #{child[:last_nm].try(:titlecase)}" %></h3>
        <h5><%= child[:ref_id] %></h5>
    </div>

    <div class="lightbox-text">
        <%= "#{child[:first_nm].try(:titlecase)} #{child[:last_nm].try(:titlecase)}" %> | <%= child[:email] %> | <%= child[:ref_id] %>
    </div>
</div>
