<div class="container white-font">
  <div class="mg10 thmcolor pd30">
   
      <span class="fnt18">

<ul class="tree">
    <li>Animals
        <ul>
            <li>Birds</li>
            <li>Mammals
                <ul>
                    <li>Elephant
                        <ul>
                            <li>List item 1</li>
                            <li>List item 2</li>
                            <li>List item 3
                                <ul>
                                    <li>List item 3.1</li>
                                    <li>List item 3.2</li>
                                    <li>List item 3.3
                                        <ul>
                                            <li>List item 3.3.1</li>
                                        </ul>
                                    </li>
                                    <li>List item 3.4</li>
                                </ul>
                            </li>
                            <li>List item 4</li>
                            <li>List item 6
                                <ul>
                                    <li>List item 6.1</li>
                                    <li>List item 6.2
                                        <ul>
                                            <li>List item 6.2.1</li>
                                            <li>List item 6.2.2</li>
                                        </ul>
                                    </li>
                                    <li>List item 6.3</li>
                                    <li>List item 6.4</li>
                                    <li>List item 6.5
                                        <ul>
                                            <li>List item 6.5.1</li>
                                            <li>List item 6.5.2
                                                <ul>
                                                    <li>List item 6.5.2.1</li>
                                                    <li>List item 6.5.2.2</li>
                                                </ul>
                                            </li>
                                            <li>List item 6.5.3</li>
                                            <li>List item 6.5.4</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>List item 7</li>
                            <li>List item 8</li>
                            <li>List item 9</li>
                            <li>List item 10</li>
                        </ul>
                    </li>
                    <li>Mouse</li>
                </ul>
            </li>
            <li>Reptiles</li>
        </ul>
    </li>
    <li>Plants
        <ul>
            <li>Flowers
                <ul>
                    <li>Rose</li>
                    <li>Tulip</li>
                </ul>
            </li>
            <li>Trees</li>
        </ul>
    </li>
</ul>



</span>
</div>
</div>
