<div class="container white-font">
  <div class="mg10 thmcolor pd30">
    <h2>How the program works</h2>
      <span class="fnt18">
<pre class="fnt15">
Take a penny and double it, you will have 2 pennies. The next day double the 2 pennies into 4 

Pennies. On day 3 double the 4 pennies into 8 pennies. 

Day 4 double the 8 pennies into 16 pennies. 
Day 5 = 32 pennies. 
Day 6 = 64 pennies. 
Day 7 = 128 pennies. 
Day 8 = 256 pennies. 
Day 9 = 512 pennies. 
Day 10 = 1024 pennies. 
Day 11 = 2048 pennies. 
Day 12 = 4096 pennies.
Day 13 = 8192 pennies. 
Day 14 = 16,384 pennies. 
Day 15 = 32,768 pennies. 
Day 16 = 65,536 pennies. 
Day 17 = 131,072 pennies. 
Day 18 = 262,144 pennies. 
Day 19 = 524,288 pennies. 
Day 20 = 1,048,576 pennies. 
Day 21 = 2, 097,152 pennies. 
Day 22 = 4, 194,304 pennies. 
Day 23 = 8,388,608 pennies. 
Day 24 = 16,777,216 pennies. 
Day 25 = 33,554,432 pennies. 
Day 26 = 67,108,864 pennies. 
By Day 27 you now have 134,217,728 pennies.

    OR

$1, 342, 177. 28 IN LESS THAN ONE MONTH.
EACH COLLEGE COFFEE CLUB GROWS OVER TIME THROUGH THE INDIVIDUAL PLEDGES (OF THE COST) 
OF A CUP OF COFFEE. THIS PROCESS OF SOLICITING A SMALL CONTRIBUTION FROM A LARGE AMOUNT 
OF PEOPLE USING THE INTERNET IS OFTEN REFERRED TO AS “CROWDFUNDING “.

  THE TERM “MEMBER “MAY MEAN A REGISTERED MEMBERS OR AN ASSOCIATE MEMBERS. ANY MEMBER CAN ALSO BE A CLIENT OF MULCH.

  THE TERM “CLIENT” MEANS ANY PERSON WHO USES THIS WEB SITE FOR THE PURPOSE OF AQUIRING UP TO 1 MILLION DOLLARS IN TUTION AND INCENTIVES.

  THE TERM “TEAM “MEANS EVERYONE WHO REGISTERS UNDER YOUR I.D. AND IS LISTED IN YOUR 1ST COLUMN, COLUMN “A “.

  THE TERM “NETWORKS” MEANS ALL MEMBERS WHO ARE REGISTERED IN YOUR COLUMNS “A”, “B” AND “C”.

  THE TERM “COLUMN 1” SHALL REFER TO YOUR CLIENT AND MEANS ANYONE THAT YOU OR THE CLIENT GET TO MAKE A PLEDGE (OF THE COST) OF CUP A OF COFFEE TO THE CLIENT’S COLLEGE COFFEE CLUB.

  THE TERM “ASSOCIATE “OR “CONSULTANT “SHALL MEAN A MEMBER WHO IS AN INDEPENDENT AGENT FOR UNITED SPONSORS OF AMERICA.

  THE PROGRAM WORKS BY DOING A 3 STEP PROCESS CALLED “ GET “

  STEP 1: <span class="font18">G</span>IVE YOUR MONTHLY PLEDGE
  STEP 2: <span class="font18">E</span>NCOURAGE 3 - 10 PEOPLE TO JOIN YOUR TEAM (CAN BE THE SAME PEOPLE EACH MONTH)
  STEP 3: <span class="font18">T</span>EACH YOUR TEAM HOW TO DO “GET”

  BECOME A REGISTERED MEMBER AND EARN CASH BACK IN REWARDPOINTS.

  BECOME AN ASSOCIATE MEMBER AND EARN CASH BACK IN REWARD POINTS PLUS CASH !

  EVERY MEMBER MUST DO “GET” EACH MONTH TO QUALIFY FOR REWARD POINTS AND / OR CASH GIFTS.

  EVERYONE WHO LOGS INTO THE SYSTEM UNDER YOUR I.D. WILL BE REGISTERED UNDER YOU IN COLUMN “ A “ . THIS WILL BE YOUR 1ST COLUMN. WHEN THE PEOPLE IN COLUMN “ A “ SHARE THE SITE WITH THEIR FRIENDS, THIS NEW GROUP OF PEOPLE WILL BE REGISTERED IN YOUR 2ND COLUMN ( COLUM “ B” ). 

  WHEN THE PEOPLE IN COLUMN 2 SHARE THE SITE WITH THEIR FRIENDS THOSE PEOPLE WILL BE REGISTERED IN COLUMN 3 (WHICH IS COLUMN B ).

  MEMBERS GET 2% CASH BACK IN REWARD POINTS EACH

  MONTH ON THE TOTAL AMOUNT OF PLEDGES MADE IN THEIR “NETWORK“ .

  EXAMPLE : LET’S SAY YOU JOIN THE CLUB TODAY AS A REGISTERED SPONSOR AND SHARE THE SERVICE WITH YOUR GRAND MOTHER, YOUR SIBLING AND A FRIEND NAMED “HAPPY“.

  COLUMN A      COLUMN B      COLUMN C

  YOUR GRANDMOTHER
  YOUR SIBLING
  YOUR FRIEND “HAPPY”

  THE NEXT DAY YOUR GRAND MOTHER SHARE THE SITE WITH 3 OF HER CHURCH MEMBERS. YOUR SIBLING BECOMES A CONSULTANT AND SIGNS UP 5 CLIENTS HIS FIRST DAY. THREE OF THE CLIENT EACH HAVE 2 KIDS AND THE OTHER TWO HAVE 3 KIDS EACH. THAT’S A TOTAL OF 10 KIDS OR 10 COLLEGE COFFEE CLUBS. YOUR FRIEND HAPPY SHARES THE SERVICE WITH BILL, MARY AND BETTY AND BECOMES YOUR 1<sup>ST</sup> STARTING A COLLEGE COFFEE CLUB FOR HIS 1 MONTH OLD BABY GIRL.


  COLUMN A      COLUMN B      COLUMN C

  GRANDMOTHER     CHURCH MEMBER
          CHURCH MEMBER
          CHURCH MEMBER

  YOUR SIBLING CLIENT # 1   CLIENT # 2
          CLIENT # 3
          CLIENT # 4
          CLIENT # 5

  “HAPPY“       BILL
          MARY
          BETTY

  ON DAY 3 EACH CHURCH MEMBER SHARES THE COLLEGE COFFEE CLUB WITH 2 FAMILY MEMBERS AND A FRIEND FOR A TOTAL OF 9 NEW SPONSORS. EACH CLIENT HAS 3 GIRLFREINDS JOIN THEIR TEAM ( “ GET “ ) FOR A TOTAL OF 15 GIRLFRIENDS....... BILL, MARY, AND BETTY EACH BRING ON AN UNCLE, AN AUNT, AND A COUSIN.

  COLUMN A      COLUMN B      COLUMN C

  GANDMOTHER      CHURCH MEMBER       FAMILY MEMBER
                  FAMILY MEMBER
                  FRIEND
          CHURCH MEMBER       FAMILY MEMBER
                  FAMILY MEMBER
                  FRIEND
          CHURCH MEMBER       FAMILY MEMBER
                  FAMILY MEMBER
                  FRIEND

  SIBLING       CLIENT #1       GIRLFRIEND #1
                  GIRLFRIEND #2
                  GIRLFRIEND #3
          CLIENT #2     GIRLFRIEND #4
                  GIRLFRIEND #5
                  GIRLFRIEND #6
          CLIENT #3     GIRLFRIEND #7
                  GIRLFRIEND #8
                  GIRLFRIEND #9
          CLIENT #4       GIRLFRIEND #10
                  GIRLFRIEND #11
                  GIRLFRIEND #12
          CLIENT #5       GIRLFRIEND #13
                  GIRLFRIEND #14
                  GIRLFRIEND #15

  “ HAPPY “       BILL        UNCLE DAVE
                  AUNT IRENE
                  COUSIN JOE
          MARY        UNCLE GREG
                  AUNT SALLY
                  COUSIN ROGER
          BETTY         UNCLE JAMES
                  AUNT GRACE
                  COUSIN LESTER

  EARN EXTRA POINTS ON CLIENTS EVERYONE LISTED IN COLUMN “ A “ IS CLASSIFIED AS “YOUR MEMBER “ ON “ YOUR TEAM “ WHETHER THEY JOIN AS A REGISTERED MEMBER OR AN ASSOCIATE MEMBER.

  EACH PERSON THAT USES THE SERVICE TO GET UP TO 1 MILLION DOLLARS IN TUITION AND INCENTIVES FOR THEMSELF OR ANY CHILD THEY ARE LEGAL GARDIANS FOR IS CONSIDERED A CLIENT.

  IF ANY OF YOUR MEMBERS ALSO BECOME A CLIENT, QUALIFY FOR EXTRA POINTS BY REGISTERING AT LEAST 3 PEOPLE IN THEIR CLUB. CLIENTS WILL GET AT LEAST 3 PEOPLE TO DO “ GET “ EACH MONTH . THESE 3 PEOPLE WILL BE UNDER YOUR CLIENT AND WILL BE REGISTED IN YOUR CLIENTS 1ST COLUMN “1” WILL BE REGISTERED IN COLUMN “2” . FRIENDS OF THE PEOPLE COLUMN. THE FRIENDS OF THE PEOPLE IN 

  IN COLUMN “2” WILL BE REGISTERED IN COLUMN “3”......

  CONTINUING INTO INFINITY.

  EACH MEMBER STARTS IN GRADE 1 AND RECEIVES .01 CENTS FOR EACH PLEDGE ON ALL 

  QUALIFIED CLIENT’S COLUMNS 1 THRU 8 

  ADVANCE TO GRADE 2 BY REGISTERING 10 MEMBERS UNDER YOU IN 

  ONE CALENDER MONTH.

  MEMBERS RECEIVE .0125 CENTS IN REWARD POINTS / PLEDGE ON

  CLIENT’S COLUMNS 1 THRU 8.

  ASSOCIATE TRAINEES MEMBERS RECEIVE AN ADDITIONAL .0125 CENTS IN 

  CASH / PLEDGE ON COLUMNS 1 THRU 8.

  ADVANCE TO GRADE 3 BY HAVING 10 PEOPLE ON YOUR TEAM 

  QUALIFY FOR GRADE 2.

  MEMBERS RECEIVE .015 CENTS IN REWARD POINTS / PLEDGE ON

  CLIENTS COLUMNS 1 THRU 8

</pre>
  
    </span>
  </div>
</div>